<main>
    <section id="wolf">
        <div class="container">
            <div class="row">
                <h1>EVERYONE'S GOT SOMETHING TO KILL</h1>
                <p>Kill Negativity, Ptsd, Depression, Anxiety, & All Of The Inner Battles We Face From Within.</p>
            </div>
        </div>
    </section>
    <section id="products">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 card-container">
                    <div class="card" id="1">
                        <div class="image-box">
                            <img class="rooter-img" src="images/Fighters_Club_Hoodie_Front_2000x.png" alt="hoodie">
                        </div>
                        <div class="text-box">
                            <h1>FIGHTER'S CLUB HOODIE - BLACK</h1>
                            <span>$58.00</span>
                            <p>Size</p>
                        </div>
                        <div class="size-box">
                            <select name="" id="">
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="x">XL</option>
                            </select>
                        </div>
                        <div class="button-box">
                            <button class="button-1">Add to Cart</button>
                            <button class="button-2">Buy It now</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 card-container">
                    <div class="card" id="2">
                        <div class="image-box">
                            <img class="rooter-img" src="images/KLCW_logo2020trants_400x.jpg" alt="hoodie">
                        </div>
                        <div class="text-box">
                            <h1>FIGHTER'S CLUB HOODIE - SAND</h1>
                            <span>$58.00</span>
                            <p>Size</p>
                        </div>
                        <div class="size-box">
                            <select name="" id="">
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="x">XL</option>
                            </select>
                        </div>
                        <div class="button-box">
                            <button class="button-1">Add to Cart</button>
                            <button class="button-2">Buy It now</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 card-container">
                    <div class="card" id="3">
                        <div class="image-box">
                            <img class="rooter-img" src="images/FighterClubOliveHoodie_400x.png" alt="hoodie">
                        </div>
                        <div class="text-box">
                            <h1>FIGHTER'S CLUB HOODIE - OLIVE</h1>
                            <span>$58.00</span>
                            <p>Size</p>
                        </div>
                        <div class="size-box">
                            <select name="" id="">
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="x">XL</option>
                            </select>
                        </div>
                        <div class="button-box">
                            <button class="button-1">Add to Cart</button>
                            <button class="button-2">Buy It now</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 card-container">
                    <div class="card" id="4">
                        <div class="image-box">
                            <img class="rooter-img" src="images/hoodieback11_400x.jpg" alt="hoodie">
                        </div>
                        <div class="text-box">
                            <h1>INNER DEMONS HOODIE - BLACK</h1>
                            <span>$58.00</span>
                            <p>Size</p>
                        </div>
                        <div class="size-box">
                            <select name="" id="">
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="x">XL</option>
                            </select>
                        </div>
                        <div class="button-box">
                            <button class="button-1">Add to Cart</button>
                            <button class="button-2">Buy It now</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-lg-3 card-container">
                    <div class="card" id="5">
                        <div class="image-box">
                            <img class="rooter-img" src="images/BlackOGjoggersFront_400x.jpg" alt="joggers">
                        </div>
                        <div class="text-box">
                            <h1>CLASSIC JOGGERS - BLACK</h1>
                            <span>$54.00</span>
                            <p>Size</p>
                        </div>
                        <div class="size-box">
                            <select name="" id="">
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="x">XL</option>
                            </select>
                        </div>
                        <div class="button-box">
                            <button class="button-1">Add to Cart</button>
                            <button class="button-2">Buy It now</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 card-container">
                    <div class="card" id="6">
                        <div class="image-box">
                            <img class="rooter-img" src="images/pants1_1_1_400x.png" alt="joggers">
                        </div>
                        <div class="text-box">
                            <h1>CLASSIC JOGGERS v2 - HEATHER GREY</h1>
                            <span>$54.00</span>
                            <p>Size</p>
                        </div>
                        <div class="size-box">
                            <select name="" id="">
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="x">XL</option>
                            </select>
                        </div>
                        <div class="button-box">
                            <button class="button-1">Add to Cart</button>
                            <button class="button-2">Buy It now</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 card-container">
                    <div class="card" id="7">
                        <div class="image-box">
                            <img class="rooter-img" src="images/onlypainhoodiesandback_464609fc-3ed0-46df-b1fc-5ebe40ba8fd9_400x.jpg" alt="hoodie">
                        </div>
                        <div class="text-box">
                            <h1>IT'S ONLY PAIN HOODIE - SAND</h1>
                            <span>$58.00</span>
                            <p>Size</p>
                        </div>
                        <div class="size-box">
                            <select name="" id="">
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="x">XL</option>
                            </select>
                        </div>
                        <div class="button-box">
                            <button class="button-1">Add to Cart</button>
                            <button class="button-2">Buy It now</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 card-container">
                    <div class="card" id="8">
                        <div class="image-box">
                            <img class="rooter-img" src="images/BlackHoodieBack_MuayThai_ad18d958-ab7a-409e-bda9-793c9f12fa77_400x.jpg" alt="hoodie">
                        </div>
                        <div class="text-box">
                            <h1>WOLVES AMONG SHEEP HOODIE v2 - OLIVE</h1>
                            <span>$58.00</span>
                            <p>Size</p>
                        </div>
                        <div class="size-box">
                            <select name="" id="">
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="x">XL</option>
                            </select>
                        </div>
                        <div class="button-box">
                            <button class="button-1">Add to Cart</button>
                            <button class="button-2">Buy It now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>