<div class="about-main">
    <div class="container">
        <div class="row">
            <h1 class="about-us">ABOUT US</h1>
            <h3 class="kill-crew">Kill Crew - Everyone’s Got Something to Kill.</h3>
            <p class="our-quest">
                Our quest for inner victory over anxiety, fear, depression, stress, insomnia, ocd, ptsd, phobias,
                eating disorders makes us forever hungry.
            </p>
            <p class="we-wolves">We are wolves among sheep.</p>
            <p class="we-killcrew">We are the KILL CREW.</p>
        </div>

    </div>
</div>
    